/* --------------------------VAR------------------------------ */
:root {
  --main-title-color: #212121;

  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --fourth-text-color: #ffffff;
  --header-text-color: #212121;
  --second-header-text-color: #757575;
  --accent-color: #2196f3;
}
/* --------------------------body------------------------------------------ */
body {
  font-family: Roboto, sans-serif;
  color: var(--second-text-color);
  background-color: var(--fourth-text-color);
}
/* ---------------------list---------------------------and--------link------ */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -----------------------------------Header------------------------------------------- */
.header {
}
.header-navigation {
}
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo-web {
  color: var(--first-text-color);
}
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-color);
}
.header-list-link.current {
  color: var(--accent-color);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
/* -----------------------------------Section Hero------------------------------------------------------------ */
.section-hero {
}
.section-hero-head {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fourth-text-color);
  background: #2f303a;
}

.section-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--first-button-color);
}
.section-rule {
}
.section-rule-list {
}
.rule-item {
}
.section-rule-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}
.section-rule-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* ---------------------Section what we do---------------------------------- */
.section-doing {
}
.section-head-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.doing-item {
}
/* ----------------------Our team----------------------------------------------- */
.section-team {
}
.section-head-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.section-list-team {
}
.section-team-item {
}
.section-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.section-team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
/* ------------------------Footer---------------------------------------------- */
.footer {
  background: #2f303a;
}
.footer-address {
}
.footer-address-list {
}
.address-item {
}
.address-item-street {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}
.address-item-street:hover,
.address-item-street:focus {
  color: var(--accent-color);
}
.adress-item-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.adress-item-contact:hover,
.adress-item-contact:focus {
  color: var(--accent-color);
}
.footer-logo-web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}
/* ------------------------------------portfolio main section------------------------------ */
/* --------------------------------------------section-buttons------------------------------- */
.section-buttons {
}
.buttons-list {
}
.list-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-button-color);
  background: #f5f4fa;
}
.list-button:hover,
.list-button:focus {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-button-color);
  background-color: var(--accent-color);
}
/* ------------------------------projects--------------------------- */
.projects-list {
}
.projects-item {
}
.projects-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}
.projects-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
